.titleBar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color:black;
  font-family: 'Dosis', sans-serif;
}
.message {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(211, 83, 83);
  color:white !important;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Dosis', sans-serif;
  font-size: 40px;
}
.score{
  font-family: 'Dosis', sans-serif;
  font-size: 40px;
}
.scoreDiv{
  margin-right: 40px;
}